.bodyContainer {
    margin-top: 64px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.headerContainer {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerContainer h1 {
    font-size: 48px;
    display: inline-block;
}

.divider {
    height: 35px;
}

.aboutUsContainer {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    padding-top: 70px;
    padding-bottom: 70px;
}

.aboutUsPanel {
    display: flex;
    max-width: 100%;
    width: 1160px;
}
  
.aboutUsDescriptionContainer {
    width: 66.66%;
    text-align: center;
}

.aboutUsDescriptionContainer p {
    padding-top: 10px;
    font-family: Arial, sans-serif;
}

.signature {
    font-family: 'Vladimir', sans-serif;
    font-weight: bold;
}

.portraitImage {
    width: 33.33%;
    margin-left: 10px;
}

.portraitImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.honourContainer {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.badgesContainer {
    padding: 20px;
}
  
.badgesRow {
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    column-count: 4;
    gap: 20px;
}

.columnContainer {
    width: 250px;
    height: 330px;
    overflow-wrap: break-word;
}

.badge {
    position: relative;
    vertical-align: top;
    height: 250px;
    width: 250px;
    background-color: #bbbbbb;
    border-left-style: solid;
    border-left-color: orange;
    border-right-style: solid;
    border-right-color: orange;
    margin-bottom: 10px;
}

.badgeIcon {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
}

.opinionsContainer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.opinionsInnerContainer {
    max-width: 1200px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.carousel button {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    position: relative;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: lightgray;
    border-radius: 50%;
    transform: translateY(-50%);
}

.carousel div:first-child button{
    margin-right: 10px;
}

.carousel div:last-child button{
    margin-left: 10px;
}

.opinionsButton {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    cursor: pointer;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 0.25rem;
    border: none;
    padding: 0.5em 1.25em;
}

.opinionsButton:hover,
.opinionsButton:focus {
  background-color: rgb(222, 145, 1);
  color: white;
}

.certificatesContainer {
    text-align: center;
}

@media (max-width: 850px) {

    .divider {
        display: none;
    }
}