.columnsContainer {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
}

.col {
  float: left;
  width: 25%;
}

.copyrightContainer {
  margin-top: 40px;
  text-align: center;
  color: #bbbbbb;
}

.contact-li {
  
}

.logoImage {
  margin-top: 5px;
  margin-left: 5px;
}

.signature {
  font-size: 12px;
}