.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  align-items: center;
  background: #333;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.brand-title {
  font-size: 1.5rem;
}

.navbar-links {
  height: 100%;
  width: 100%;
}

.navbar-links ul {
  display: flex;
  position: relative;
  float: right;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
  list-style-type: none;
  color: #ffffff99;
  height: 100%;
}

.link {
  display: block;
  font-family: 'Arial';
  padding: 1rem;
}

.logo img {
  height: 42px;
  width: 150px;
}

.navbar-links li:hover {
  color: white;
}

.navbar-links .link::before {
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background: rgb(244, 116, 5);
    transform-origin: left;
    transition: transform 300ms ease;
}

.navbar-links .link:hover::before {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + .25rem);
  background-color: white;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
  opacity: 0;
  pointer-events: none;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}


@media (hover) {
  .navbar-links .link::before {
    transform: scaleX(0);
  }
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links li {
      text-align: center;
      width: 100%;
  }

  .magic {
      display: flex;
  }
}